body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
  }
  
  header{
    flex: 0 50px;
    display: flex;
    background-color:gray;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align: center; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4b82db;
  }
  
  footer{
    justify-content: center;
    align-items: center;
    flex: 0 30px;
    display: flex;
    height: 30px;
    text-align: center;
    background-color: gray;
  }
  
  text-reset, a {
    margin: 5px;
  }